# Introducciòn

In [1]:
import numpy as np

In [4]:
array = np.arange(10)
array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
type(array)

numpy.ndarray

In [5]:
sumar10 = array + 10

In [6]:
sumar10

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [9]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] #1 000 000,

In [11]:
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
type(lista)

list

In [13]:
sumar10lista = []
for i in lista:
    sumar10lista.append(i+10)

sumar10lista

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Series (pandas) -> array 1d (numpy)
# DataFrame (pandas) -> array 2d (numpy)
#

# Ejercicio 1

In [15]:
import pandas as pd

In [17]:
class Venta:
  def __init__(self):
    self.__dfVentas = self.generar()

  def generar(self):
    Meses = ["Enero","Febrero","Marzo","Abril"]
    Ventas = [4100,4200,4300,4400]
    Gastos = [3100,3200,3300,3400]

    dic_ventas = {"Meses":Meses,"Ventas":Ventas,"Gastos":Gastos}

    df_ventas = pd.DataFrame(dic_ventas)
    return df_ventas

  def mostrar(self):
    return self.__dfVentas


objeto_venta = Venta()
objeto_venta.mostrar()

     Meses  Ventas  Gastos
0    Enero    4100    3100
1  Febrero    4200    3200
2    Marzo    4300    3300
3    Abril    4400    3400

# Ejercicio 2

In [48]:
class Venta:
  def __init__(self):
    self.__dfVentas = self.generar()

  def generar(self):
    Meses = ["Enero","Febrero","Marzo","Abril"]
    Ventas = self.generar_valores()
    Gastos = self.generar_valores()

    dic_ventas = {"meses":Meses,"ventas":Ventas,"gastos":Gastos}

    df_ventas = pd.DataFrame(dic_ventas)
    return df_ventas

  def generar_valores(self,cantidad=4):
    lista = []
    for i in range(cantidad):
      lista.append(np.random.randint(1000,5000))
    return lista

  def mostrar(self):
    return self.__dfVentas

  def generar_balance(self):
    self.__dfVentas["balance"] = self.__dfVentas["ventas"] - self.__dfVentas["gastos"]

#
objeto_venta = Venta()
objeto_venta.generar_balance()
objeto_venta.mostrar()

     meses  ventas  gastos  balance
0    Enero    3542    2926      616
1  Febrero    4485    4441       44
2    Marzo    1174    1177       -3
3    Abril    3684    2327     1357

# Ejercicio 3

In [61]:
class Cotizacion:
  def __init__(self):
    self.__dfCotizacion = pd.read_excel("cotizacion.xlsx")

  def mostrar(self):
    print(self.__dfCotizacion)

  def estadisticas(self):
    df_estadisticas = self.__dfCotizacion.describe()
    resultado = df_estadisticas.loc[["mean","min","max"]]
    return resultado

objeto_cotizacion = Cotizacion()
objeto_cotizacion.mostrar()
print("\n\nresultados de los valores estadìsticos")
objeto_cotizacion.estadisticas()
#

          Nombre      Final     Máximo     Mínimo      Volumen   Efectivo
0        ACCIONA     95.950     96.750     94.400     84962.00    8166.11
1       ACERINOX   8668.000   8672.000   8468.000       885.99    7633.81
2            ACS     37.280     37.660     37.220    655982.00   24517.29
3           AENA    167.100    167.500    166.100    133738.00   22336.10
4        AMADEUS     69.960     70.640     69.560    640476.00   44795.47
5    ARCELORMIT.  14152.000  14318.000     14.080    702841.00    9989.65
6    BA.SABADELL     10.165   1033.000     10.165  12358512.00   12637.65
7   BA.SANTANDER      4.020     40.675      4.010  36129692.00  145765.44
8         BANKIA   2249.000   2262.000   2224.000   3024454.00    6803.54
9      BANKINTER      6.560   6604.000   6522.000   1375976.00    9030.20
10          BBVA   5024.000      5.050   4969.000  26447612.00  132560.15
11     CAIXABANK   2763.000   2806.000   2762.000  13031097.00   36239.22
12       CELLNEX     30.170     30.700     30.170    857237.00   25965.29
13  CIE AUTOMOT.     23.440     23.740     23.400     99506.00    2343.09
14        ENAGAS     25.600     25.660     25.070       842.54   21524.77
15          ENCE   3882.000   3974.000   3846.000   2099698.00    8219.83
16        ENDESA     22.950     23.030     22.620   1236799.00   28233.46
17     FERROVIAL     21.610     21.720     21.380   2065931.00   44656.05
18  GRIFOLS CL.A     23.300     23.600     23.270    719503.00   16787.55
19           IAG      5.300      5.460   5292.000   2155081.00   11561.95
20     IBERDROLA      8.450      8.450   8262.000  15637958.00  131426.05
21       INDITEX     24.930     25.190     24.870   2600144.00   65012.92
22       INDRA A      9.560   9685.000   9535.000       392.06    3755.57
23  INM.COLONIAL   9915.000   9915.000   9745.000    671753.00    6640.38
24        MAPFRE   2654.000   2654.000      2.620   3045972.00    8063.13
25      MEDIASET   6446.000   6592.000   6446.000   2647557.00   17277.04
26  MELIA HOTELS      8.140      8.190      8.020       480.21    3914.93
27        MERLIN     12.080     12.080     11.830    777543.00    9357.77
28       NATURGY     26.700     26.770     26.530   2100737.00   55986.54
29        R.E.C.  19705.000  19875.000  19675.000   1246171.00   24585.33
30        REPSOL  14515.000  14605.000     14.460   5046648.00   73333.78
31  SIEMENS GAME     14.330     14.390  14155.000   1054847.00   15084.56
32  TEC.REUNIDAS     23.000     23.200     22.780       122.10    2807.19
33    TELEFONICA   7204.000   7256.000   7185.000   9913249.00   71564.99
34      VISCOFAN     48.460     49.120     48.460        67.71    3295.43


resultados de los valores estadìsticos

             Final        Máximo        Mínimo       Volumen    Efectivo
mean   2797.030143   3171.159286   3136.771857  4.244699e+06   31767.778
min       4.020000      5.050000      2.620000  6.771000e+01    2343.090
max   19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440

# Ejercicio 4

In [65]:
df = pd.read_csv("titanic.csv",sep=";")

In [69]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,"712,833",C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,"7,925",NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,08.05,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,"518,625",E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,"21,075",NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,"300,708",NaN,C

In [68]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,07.05,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,"29,125",NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    object
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 83.7+ KB

In [71]:
df.shape

(891, 12)

In [72]:
df.describe()

       PassengerId    Survived      Pclass         Age       SibSp       Parch
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000

In [73]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,"712,833",C85,C

In [74]:
#Mostrar la informaciòn del pasajero con PassengerId = 148
filtro = df["PassengerId"] == 148
df[filtro]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,"34,375",NaN,S

In [82]:
# • Mostrar las filas pares del DataFrame.
df.loc[::2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,"7,925",NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,08.05,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,"518,625",E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,07.05,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [83]:
# Mostrar los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
filtro = df["Pclass"] == 1
df[filtro].sort_values("Name")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,"2,113,375",B5,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.55,C22 C26,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.55,C22 C26,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.55,C22 C26,S
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.55,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,"613,792",NaN,C
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35,C128,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5,C52,S
555,556,0,1,"Wright, Mr. George",male,62.00,0,0,113807,26.55,NaN,S
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,"1,356,333",C32,C

In [85]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [89]:
# f) Mostrar el porcentaje de personas que sobrevivieron y murieron.
df["Survived"].value_counts() / len(df) * 100

Survived
0    61.616162
1    38.383838
Name: count, dtype: float64

In [93]:
# Eliminar del DataFrame los pasajeros con edad desconocida.
df_nuevo = df.dropna(subset=["Age"])

In [95]:
df_nuevo.reset_index(drop=True,inplace=True)

In [96]:
df_nuevo

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,"712,833",C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,"7,925",NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,08.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
709,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,"29,125",NaN,Q
710,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13,NaN,S
711,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30,B42,S
712,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30,C148,C
713,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [98]:
# Mostrar la edad promedio o media de las mujeres que viajaban en cada clase.
filtro = df_nuevo['Sex'] == "female"
df_nuevo[filtro].groupby("Pclass")["Age"].mean()

Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

In [99]:
# Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
df_nuevo["menor_edad"] = df_nuevo["Age"] < 18

/tmp/ipython-input-2963206646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nuevo["menor_edad"] = df_nuevo["Age"] < 18

In [102]:
df_nuevo.head(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,menor_edad
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,"712,833",C85,C,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,"7,925",NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,08.05,NaN,S,False
5,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,"518,625",E46,S,False
6,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,"21,075",NaN,S,True
7,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,False

In [103]:
# Mostrar el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
df_nuevo.groupby(["Pclass","menor_edad"])["Survived"].value_counts(normalize=True) * 100

Pclass  menor_edad  Survived
1       False       1           63.793103
                    0           36.206897
        True        1           91.666667
                    0            8.333333
2       False       0           58.666667
                    1           41.333333
        True        1           91.304348
                    0            8.695652
3       False       0           79.783394
                    1           20.216606
        True        0           62.820513
                    1           37.179487
Name: proportion, dtype: float64